.defineTop{
	border:1px;
	background-color:#FFF;
	width:700px;
	height:360px;
	margin:0px;
	padding:0px;
}
.defineBase{
	background-color:#FF0;
	border:1px;
	float:inherit;
}
.defineResult{
	margin-left:20px;
	margin-top:15px; 
	text-align:left;
}
.defineTitle{
		background-color:transparent;
		height:30px;
}