.hiddenDiv{position:relative;border:0px;padding-bottom:0px;}
.hiddenTitle{padding-left:0px;padding-top:0px;background:#f1f1f1;text-align: left;}
.hiddenContent{line-height:22px;padding:0 0px;color:#666;display:none;}//这里添加了display：none让div默认隐藏
