<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
	    <error-code>404</error-code>
	    <location>/error.jsp</location>
	 	</error-page>
	<servlet>
		<servlet-name>Redirect2Teacher</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Redirect2Teacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Redirect2Student</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Redirect2Student</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherLoginUI</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.TeacherLoginUI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLoginUI</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.StudentLoginUI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentRegistUI</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.StudentRegistUI</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherLogout</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.TeacherLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLogout</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.StudentLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_adminSelf_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_adminSelf_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_adminSelf_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_adminSelf_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_adminSelf_update_pwd</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_adminSelf_update_pwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_main</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Admin_main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Profession_main</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Profession_main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Student_main</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Student_main</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_subject</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_subject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_subject_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_subject_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_main_leftMenu</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Admin_main_leftMenu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Student_persion_home</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Student_persion_home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_main_rightShow</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Admin_main_rightShow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Student_main_bottomMenu</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.Student_main_bottomMenu</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession_delete</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession_delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_profession_update_pwd</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_profession_update_pwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_department</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_department</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_department_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_department_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_helpMan</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_helpMan</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_helpMan_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_helpMan_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_helpMan_delete</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_helpMan_delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_helpMan_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_helpMan_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_helpMan_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_helpMan_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_grade</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_grade</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_grade_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_grade_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_grade_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_grade_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_grade_delete</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_grade_delete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_grade_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_grade_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_subject_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_subject_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_subject_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_subject_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_department_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_department_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_department_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_department_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_career</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_career</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Grade_Department2career</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.ajax.Grade_Department2career</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_career_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_career_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_career_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_career_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_career_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_career_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_classes</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_classes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_classes_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_classes_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Department2helpMan</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.ajax.Department2helpMan</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_classes_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_classes_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_classes_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_classes_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_careerSubjectSelected</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_careerSubjectSelected</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Career2classes</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.ajax.Career2classes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student_update_photo</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student_update_photo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_careerSubjectSelected_create</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_careerSubjectSelected_create</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_careerSubjectSelected_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_careerSubjectSelected_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Name_careerSubjectSelected_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Name_careerSubjectSelected_update_info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student_update</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student_update</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student_update_pwd</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student_update_pwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Account_student_update_info</servlet-name>
		<servlet-class>org.wjlmgqs.web.controller.admin.Account_student_update_info</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>Account_professionSelf_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Account_professionSelf_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profession_main_leftMenu</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.Profession_main_leftMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profession_main_rightShow</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.Profession_main_rightShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Account_professionSelf_update_pwd</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Account_professionSelf_update_pwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Account_professionSelf_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Account_professionSelf_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_single</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_single</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_single_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_single_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Name_knowledge</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Name_knowledge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Name_knowledge_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Name_knowledge_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Name_knowledge_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Name_knowledge_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Name_knowledge_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Name_knowledge_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_single_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_single_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_single_update_image</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_single_update_image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_single_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_single_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_multiple</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_multiple</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_multiple_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_multiple_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_multiple_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_multiple_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_multiple_update_image</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_multiple_update_image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_multiple_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_multiple_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_judge</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_judge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_judge_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_judge_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_judge_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_judge_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_judge_update_image</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_judge_update_image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_judge_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_judge_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_fillBlank</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_fillBlank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_fillBlank_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_fillBlank_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_fillBlank_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_fillBlank_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_fillBlank_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_fillBlank_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionBank_fillBlank_update_image</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.QuestionBank_fillBlank_update_image</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_create_labour</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_create_labour</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_update_info</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_update_info</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_singles</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_singles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_multiples</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_multiples</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_judges</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_judges</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_fillBlanks</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_fillBlanks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_singles_insert</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_singles_insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Knowledge2singles</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Knowledge2singles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Subject2papers</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Subject2papers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Question2imageUrl</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Question2imageUrl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SingleId2Singe</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.SingleId2Singe</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_buliding</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_buliding</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_singles_add</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_singles_add</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_buliding_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_buliding_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_multiples_add</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_multiples_add</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Knowledge2multiples</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Knowledge2multiples</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultipleId2Multiple</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.MultipleId2Multiple</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_multiples_insert</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_multiples_insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_judges_add</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_judges_add</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Knowledge2judges</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Knowledge2judges</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JudgeId2Judge</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.JudgeId2Judge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_judges_insert</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_judges_insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_fillBlanks_add</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_fillBlanks_add</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_fillBlanks_insert</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_fillBlanks_insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FillBlankId2FillBlank</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.FillBlankId2FillBlank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Knowledge2fillBlanks</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Knowledge2fillBlanks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_list_profession</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_list_status</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_list_admin</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.admin.Paper_list_status</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_create_auto</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_create_auto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_autoBulid_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_autoBulid_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_status_professon</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Paper_status_order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paper_status_admin</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.admin.Paper_status_order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Student_Account_update</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Account_update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Account_regist</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Account_regist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exam_list_admin</servlet-name>
    <servlet-class> org.wjlmgqs.web.controller.admin.Exam_list_Status</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exam_createUI</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.admin.Exam_createUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exam_record_create</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.admin.Exam_record_create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exam_status_order</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.admin.Exam_status_order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Account_update_photo</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Account_update_photo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Join_exam</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Join_exam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exam_join_testUI</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Exam_join_testUI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Subject2career</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.Subject2career</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Start_testUnits</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Start_TestUnits</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveTestUnits</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.SaveTestUnits</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitExam</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.ajax.SubmitExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Name_examRecord</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Name_examRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Refer_mark</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.student.Refer_mark</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Mark_list</servlet-name>
    <servlet-class>org.wjlmgqs.web.controller.profession.Mark_list</servlet-class>
  </servlet>

























































































	<servlet-mapping>
		<servlet-name>TeacherLogout</servlet-name>
		<url-pattern>/teacher/teacherLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogout</servlet-name>
		<url-pattern>/student/studentLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherLoginUI</servlet-name>
		<url-pattern>/teacherLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLoginUI</servlet-name>
		<url-pattern>/studentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentRegistUI</servlet-name>
		<url-pattern>/studentRegistUI</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Redirect2Teacher</servlet-name>
		<url-pattern>/teacherLogin/redirect2Teacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirect2Student</servlet-name>
		<url-pattern>/studentLogin/redirect2Student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_adminSelf_update</servlet-name>
		<url-pattern>/teacher/admin/account_adminSelf_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_adminSelf_update_info</servlet-name>
		<url-pattern>/teacher/admin/account_adminSelf_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_adminSelf_update_pwd</servlet-name>
		<url-pattern>/teacher/admin/account_adminSelf_update_pwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_main</servlet-name>
		<url-pattern>/teacher/admin_main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profession_main</servlet-name>
		<url-pattern>/teacher/profession_main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Student_main</servlet-name>
		<url-pattern>/student/student_main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_subject</servlet-name>
		<url-pattern>/teacher/admin/name_subject</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_subject_create</servlet-name>
		<url-pattern>/teacher/admin/name_subject_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_main_leftMenu</servlet-name>
		<url-pattern>/teacher/admin_main_leftMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Student_main_bottomMenu</servlet-name>
		<url-pattern>/student/student_main_bottomMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_main_rightShow</servlet-name>
		<url-pattern>/teacher/admin_main_rightShow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Student_persion_home</servlet-name>
		<url-pattern>/student/persion_home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession</servlet-name>
		<url-pattern>/teacher/admin/account_profession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession_update</servlet-name>
		<url-pattern>/teacher/admin/account_profession_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession_update_info</servlet-name>
		<url-pattern>/teacher/admin/account_profession_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession_create</servlet-name>
		<url-pattern>/teacher/admin/account_profession_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession_delete</servlet-name>
		<url-pattern>/teacher/admin/account_profession_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_profession_update_pwd</servlet-name>
		<url-pattern>/teacher/admin/account_profession_update_pwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student</servlet-name>
		<url-pattern>/teacher/admin/account_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_department</servlet-name>
		<url-pattern>/teacher/admin/name_department</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_department_create</servlet-name>
		<url-pattern>/teacher/admin/name_department_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_helpMan</servlet-name>
		<url-pattern>/teacher/admin/name_helpMan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_helpMan_create</servlet-name>
		<url-pattern>/teacher/admin/name_helpMan_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_helpMan_delete</servlet-name>
		<url-pattern>/teacher/admin/name_helpMan_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_helpMan_update</servlet-name>
		<url-pattern>/teacher/admin/name_helpMan_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_helpMan_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_helpMan_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_grade</servlet-name>
		<url-pattern>/teacher/admin/name_grade</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_grade_create</servlet-name>
		<url-pattern>/teacher/admin/name_grade_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_grade_update</servlet-name>
		<url-pattern>/teacher/admin/name_grade_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_grade_delete</servlet-name>
		<url-pattern>/teacher/admin/name_grade_delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_grade_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_grade_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_subject_update</servlet-name>
		<url-pattern>/teacher/admin/name_subject_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_subject_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_subject_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_department_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_department_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_department_update</servlet-name>
		<url-pattern>/teacher/admin/name_department_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_career</servlet-name>
		<url-pattern>/teacher/admin/name_career</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Grade_Department2career</servlet-name>
		<url-pattern>/teacher/ajax/grade_Department2career</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_career_update</servlet-name>
		<url-pattern>/teacher/admin/name_career_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_career_create</servlet-name>
		<url-pattern>/teacher/admin/name_career_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_career_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_career_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_classes</servlet-name>
		<url-pattern>/teacher/admin/name_classes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_classes_create</servlet-name>
		<url-pattern>/teacher/admin/name_classes_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Department2helpMan</servlet-name>
		<url-pattern>/teacher/ajax/department2helpMan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_classes_update</servlet-name>
		<url-pattern>/teacher/admin/name_classes_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_classes_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_classes_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_careerSubjectSelected</servlet-name>
		<url-pattern>/teacher/admin/name_careerSubjectSelected</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Career2classes</servlet-name>
		<url-pattern>/teacher/ajax/career2classes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student_create</servlet-name>
		<url-pattern>/teacher/admin/account_student_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student_update_photo</servlet-name>
		<url-pattern>/teacher/admin/account_student_update_photo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_careerSubjectSelected_create</servlet-name>
		<url-pattern>/teacher/admin/name_careerSubjectSelected_create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_careerSubjectSelected_update</servlet-name>
		<url-pattern>/teacher/admin/name_careerSubjectSelected_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Name_careerSubjectSelected_update_info</servlet-name>
		<url-pattern>/teacher/admin/name_careerSubjectSelected_update_info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student_update</servlet-name>
		<url-pattern>/teacher/admin/account_student_update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student_update_pwd</servlet-name>
		<url-pattern>/teacher/admin/account_student_update_pwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Account_student_update_info</servlet-name>
		<url-pattern>/teacher/admin/account_student_update_info</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account_professionSelf_update_info</servlet-name>
    <url-pattern>/teacher/profession/account_professionSelf_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profession_main_leftMenu</servlet-name>
    <url-pattern>/teacher/profession_main_leftMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profession_main_rightShow</servlet-name>
    <url-pattern>/teacher/profession_main_rightShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account_professionSelf_update_pwd</servlet-name>
    <url-pattern>/teacher/profession/account_professionSelf_update_pwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account_professionSelf_update</servlet-name>
    <url-pattern>/teacher/profession/account_professionSelf_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_single</servlet-name>
    <url-pattern>/teacher/profession/questionBank_single</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_single_create</servlet-name>
    <url-pattern>/teacher/profession/questionBank_single_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Name_knowledge</servlet-name>
    <url-pattern>/teacher/profession/name_knowledge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Name_knowledge_create</servlet-name>
    <url-pattern>/teacher/profession/name_knowledge_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Name_knowledge_update</servlet-name>
    <url-pattern>/teacher/profession/name_knowledge_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Name_knowledge_update_info</servlet-name>
    <url-pattern>/teacher/profession/name_knowledge_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_single_update</servlet-name>
    <url-pattern>/teacher/profession/questionBank_single_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_single_update_image</servlet-name>
    <url-pattern>/teacher/profession/questionBank_single_update_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_single_update_info</servlet-name>
    <url-pattern>/teacher/profession/questionBank_single_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_multiple</servlet-name>
    <url-pattern>/teacher/profession/questionBank_multiple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_multiple_create</servlet-name>
    <url-pattern>/teacher/profession/questionBank_multiple_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_multiple_update</servlet-name>
    <url-pattern>/teacher/profession/questionBank_multiple_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_multiple_update_image</servlet-name>
    <url-pattern>/teacher/profession/questionBank_multiple_update_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_multiple_update_info</servlet-name>
    <url-pattern>/teacher/profession/questionBank_multiple_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_judge</servlet-name>
    <url-pattern>/teacher/profession/questionBank_judge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_judge_create</servlet-name>
    <url-pattern>/teacher/profession/questionBank_judge_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_judge_update</servlet-name>
    <url-pattern>/teacher/profession/questionBank_judge_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_judge_update_image</servlet-name>
    <url-pattern>/teacher/profession/questionBank_judge_update_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_judge_update_info</servlet-name>
    <url-pattern>/teacher/profession/questionBank_judge_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_fillBlank</servlet-name>
    <url-pattern>/teacher/profession/questionBank_fillBlank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_fillBlank_create</servlet-name>
    <url-pattern>/teacher/profession/questionBank_fillBlank_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_fillBlank_update</servlet-name>
    <url-pattern>/teacher/profession/questionBank_fillBlank_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_fillBlank_update_info</servlet-name>
    <url-pattern>/teacher/profession/questionBank_fillBlank_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBank_fillBlank_update_image</servlet-name>
    <url-pattern>/teacher/profession/questionBank_fillBlank_update_image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_create_labour</servlet-name>
    <url-pattern>/teacher/profession/paper_create_labour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_update_info</servlet-name>
    <url-pattern>/teacher/profession/paper_update_info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_singles</servlet-name>
    <url-pattern>/teacher/profession/paper_singles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_multiples</servlet-name>
    <url-pattern>/teacher/profession/paper_multiples</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_judges</servlet-name>
    <url-pattern>/teacher/profession/paper_judges</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_fillBlanks</servlet-name>
    <url-pattern>/teacher/profession/paper_fillBlanks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_singles_insert</servlet-name>
    <url-pattern>/teacher/profession/paper_singles_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Knowledge2singles</servlet-name>
    <url-pattern>/teacher/ajax/knowledge2singles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subject2papers</servlet-name>
    <url-pattern>/teacher/ajax/subject2papers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Question2imageUrl</servlet-name>
    <url-pattern>/teacher/ajax/question2imageUrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleId2Singe</servlet-name>
    <url-pattern>/teacher/ajax/singleId2Singe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_buliding</servlet-name>
    <url-pattern>/teacher/profession/paper_buliding</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_singles_add</servlet-name>
    <url-pattern>/teacher/profession/paper_singles_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_update</servlet-name>
    <url-pattern>/teacher/profession/paper_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_buliding_update</servlet-name>
    <url-pattern>/teacher/profession/paper_buliding_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_multiples_add</servlet-name>
    <url-pattern>/teacher/profession/paper_multiples_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Knowledge2multiples</servlet-name>
    <url-pattern>/teacher/ajax/knowledge2multiples</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultipleId2Multiple</servlet-name>
    <url-pattern>/teacher/ajax/multipleId2Multiple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_multiples_insert</servlet-name>
    <url-pattern>/teacher/profession/paper_multiples_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_judges_add</servlet-name>
    <url-pattern>/teacher/profession/paper_judges_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Knowledge2judges</servlet-name>
    <url-pattern>/teacher/ajax/knowledge2judges</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JudgeId2Judge</servlet-name>
    <url-pattern>/teacher/ajax/judgeId2Judge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_judges_insert</servlet-name>
    <url-pattern>/teacher/profession/paper_judges_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_fillBlanks_add</servlet-name>
    <url-pattern>/teacher/profession/paper_fillBlanks_add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_fillBlanks_insert</servlet-name>
    <url-pattern>/teacher/profession/paper_fillBlanks_insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FillBlankId2FillBlank</servlet-name>
    <url-pattern>/teacher/ajax/fillBlankId2fillBlank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Knowledge2fillBlanks</servlet-name>
    <url-pattern>/teacher/ajax/knowledge2fillBlanks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_list_profession</servlet-name>
    <url-pattern>/teacher/profession/paper_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_list_admin</servlet-name>
    <url-pattern>/teacher/admin/paper_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_create_auto</servlet-name>
    <url-pattern>/teacher/profession/paper_create_auto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_autoBulid_create</servlet-name>
    <url-pattern>/teacher/profession/paper_autoBulid_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_status_professon</servlet-name>
    <url-pattern>/teacher/profession/paper_status_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paper_status_admin</servlet-name>
    <url-pattern>/teacher/admin/paper_status_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student_Account_update</servlet-name>
    <url-pattern>/student/account_update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account_regist</servlet-name>
    <url-pattern>/account_regist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exam_list_admin</servlet-name>
    <url-pattern>/teacher/admin/exam_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exam_createUI</servlet-name>
    <url-pattern>/teacher/admin/exam_createUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exam_record_create</servlet-name>
    <url-pattern>/teacher/admin/exam_record_create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exam_status_order</servlet-name>
    <url-pattern>/teacher/admin/exam_status_order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account_update_photo</servlet-name>
    <url-pattern>/student/account_update_photo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Join_exam</servlet-name>
    <url-pattern>/student/join_exam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exam_join_testUI</servlet-name>
    <url-pattern>/student/exam_join_testUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subject2career</servlet-name>
    <url-pattern>/teacher/ajax/subject2career</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Start_testUnits</servlet-name>
    <url-pattern>/student/start_testUnits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTestUnits</servlet-name>
    <url-pattern>/student/ajax/saveTestUnits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitExam</servlet-name>
    <url-pattern>/student/ajax/submit_exam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Name_examRecord</servlet-name>
    <url-pattern>/teacher/profession/name_examRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Refer_mark</servlet-name>
    <url-pattern>/student/refer_mark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mark_list</servlet-name>
    <url-pattern>/teacher/profession/mark_list</url-pattern>
  </servlet-mapping>


	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>org.wjlmgqs.web.filter.CharacterFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>text/html;charset=UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>AdminTeacherStatusFilter</filter-name>
		<filter-class>org.wjlmgqs.web.filter.AdminTeacherStatusFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ProfessionTeacherStatusFilter</filter-name>
		<filter-class>org.wjlmgqs.web.filter.ProfessionTeacherStatusFilter</filter-class>
	</filter>
	<filter>
		<filter-name>StudentStatusFilter</filter-name>
		<filter-class>org.wjlmgqs.web.filter.StudentStatusFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<!-- * 代表截获所有的请求  或指定请求/test.do  /xxx.do -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminTeacherStatusFilter</filter-name>
		<url-pattern>/teacher/admin/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ProfessionTeacherStatusFilter</filter-name>
		<url-pattern>/teacher/profession/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>StudentStatusFilter</filter-name>
		<url-pattern>/student/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>imageSizeLimit</param-name>
		<param-value> 19871202 </param-value>
	</context-param>
	<context-param>
		<param-name>studentPhotoFolder</param-name>
		<param-value>studentPhotos</param-value>
	</context-param>
	<context-param>
		<param-name>questionBankFolder</param-name>
		<param-value>questionBankImage</param-value>
	</context-param>
	<context-param>
		<param-name>divisionSign</param-name><!--  bulidFillBlankForm.js中有使用░，要同步更改。  -->
		<param-value>░</param-value>
	</context-param>
	<session-config>
   		<session-timeout>120</session-timeout><!--  以分钟为单位  -->
	</session-config>
</web-app>
